################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetStandardGPIO/.vs/DotNetStandardGPIO/v15
/DotNetStandardGPIO/DotNetStandardGPIO/obj
